body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	font-size: 100%;
	background-color: #0000ff; 
}

h1 {
	text-align:center; 
	color:#ffff00; 
	width:150px;
}

input {
	color:#ffff00; 
}